<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adminpage</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
<header>
    <h1>Админка</h1>
    <div>Вы вошли как <span th:text="${user}"></span></div>
</header>

<div class="wrapper">

    <form th:action="@{/addRole}" method="post"  class="login-form">

        <select  name="username" >
            <option th:each="user : ${users}" th:value="${user.username}" th:text="${user.username}"></option>
        </select>

        <select   name="rolename">
            <option th:each="role : ${roles}" th:value="${role.name}" th:text="${role.name}"></option>
        </select>

        <input type="submit" class="button" value="Сменить роль"/>

    </form>
</div>

</body>
</html>