<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main</title>
    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<body>
<header>
    <h1>Файловый менеджер</h1>
    <div>Вы вошли как <span th:text="${user}"></span></div>
</header>

<form th:action="@{/adminpageloader}" method="post" style="float: right" class="login-form">
    <input type="submit" class="button" value="В админку">
</form>

<div class="wrapper">

    <form th:action="@{/save}" method="post" enctype="multipart/form-data" class="login-form">

        <div class="content">
            <input type="text" name="description" class="input username" placeholder="Описание файла">
            <input type="file" name="file" style="display: none" id="fileUploadButton">
            <label for="fileUploadButton" class="button">Выбрать</label>
            <input type="submit" class="button" value="Загрузить">
        </div>

    </form>
</div>

<table >
    <tr>
        <th>Имя файла</th>
        <th>Описание</th>
        <th>Скачать</th>
        <th>Удалить</th>
    </tr>
        <tr th:each="record : ${records}">
            <td><a th:href="@{${record.filePath}}" th:text="${record.fileName}"></a></td>
            <td th:text="${record.description}"></td>
            <td><a th:href="@{${record.filePath}}" download><i class="fas fa-arrow-alt-circle-down"></i></a></td>
            <td>
                <form th:action="@{delete}" method="post" enctype="multipart/form-data">
                    <input type="text" name="file_id"  th:value="${record.id}" style="display: none">
                    <input type="text" name="filename"  th:value="${record.fileName}" value="${record.fileName}" style="display: none">
                    <input type="submit" th:id="deleteButton + ${record.id}" style="display: none">
                    <label th:for="deleteButton + ${record.id}"><i class="fas fa-times-circle"></i></label>
                </form>
            </td>
        </tr>
</table>




</body>
</html>
